<ngx-dropzone (change)="onSelect($event)">
  <ngx-dropzone-label>Add CSV File</ngx-dropzone-label>
  <!--   <ngx-dropzone-preview
    *ngFor="let f of files"
    [removable]="true"
    (removed)="onRemove(f)"
  >
    <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
  </ngx-dropzone-preview> -->
</ngx-dropzone>

<button>Parse</button>

<div>
  <div *ngIf="files.length; else nofiles">
    <div *ngFor="let file of files">
      <span>{{ file.name }}</span>
    </div>
  </div>
</div>

<ng-template #nofiles> Add a file. </ng-template>
